.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}

.heading {
  text-align: center;
}

.land {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 10px 10px;
  font-size: 20px;
  text-align: center;

  @media (max-width: 850px) {
    width: 160px;
    font-size: 12px;
    margin: 0 5px 5px;
  }
}

.removed {
  filter: grayscale(100%);
  text-decoration: line-through;
}

.image {
  width: 200px;

  @media (max-width: 850px) {
    width: 160px;
  }
}

.button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  padding: 5px 20px;
  font: bold 24px 'Nunito';

  &:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
  }

  &:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
  }

  &:disabled {
    background-color: grey;
    text-shadow: -1px 1px grey;
  }
}

.buttonContainer {
  text-align: center;
}
