$plains: #F8E7B9;
$island: #0E68AB;
$swamp: #A69F9D;
$mountain: #EB9F82;
$forest: #C4D3CA;

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}

.heading {
  text-align: center;
}

.land {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 10px 10px;
  font-size: 20px;
  text-align: center;

  @media (max-width: 850px) {
    width: 160px;
    font-size: 12px;
    margin: 0 5px 5px;
  }
}

.removed {
  filter: grayscale(100%);
  text-decoration: line-through;
}

.image {
  width: 200px;

  @media (max-width: 850px) {
    width: 160px;
  }
}

.button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  padding: 5px 20px;
  font: bold 24px 'Nunito';

  &:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
  }

  &:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
  }

  &:disabled {
    background-color: grey;
    text-shadow: -1px 1px grey;
  }
}

.buttonContainer {
  text-align: center;
}

.input {
  display: none;

  &:checked {
    color: $mountain;
    border-bottom: 2px solid $mountain;

    &.plains + .label {
      color: $plains;
      border-bottom: 2px solid $plains;
    }

    &.island + .label {
      color: $island;
      border-bottom: 2px solid $island;
    }

    &.swamp + .label {
      color: $swamp;
      border-bottom: 2px solid $swamp;
    }

    &.mountain + .label {
      color: $mountain;
      border-bottom: 2px solid $mountain;
    }

    &.forest + .label {
      color: $forest;
      border-bottom: 2px solid $forest;
    }
  }
}

.label {
  display: inline-block;
  width: 10vw;
  min-width: 100px;
  padding: 15px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 1px solid transparent;

  &:hover {
      color: #aabbcc;
      cursor: pointer;
  }
}

.tab {
  margin-bottom: 16px;
  text-align: center;
}
