@import '../../stylesheets/_colors.scss';

.main {
  background-color: $credit-background;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact {
  width: 190px;
}

.credits {
  width: 390px;
  margin-right: 10px;
}

.options {
  width: 490px;
  margin-right: 10px;
}

.header {
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $orange;
  border-bottom: 1px solid white;
}

.list {
  color: #f6f6f6;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.link, :link:visited {
  color: inherit;
}

.select {
  font-family: 'Nunito';
  font-size: 16px;
  background-color: $credit-background;
  color: $orange;
  padding: 2px 10px;
  margin-left: 16px;
  border-color: 1px solid $orange;
  border-radius: 0;
  appearance: none;
}

.optionTitle {
  color: white;
}
