@import 'stylesheets/_colors.scss';

.app {
  background-color: $main-background;
  min-height: 100vh;
  padding-bottom: 16px;
  scroll-behavior: smooth;
}

.header {
  margin: 0;
  text-align: center;
  font-weight: 600;
  color: $orange;
}

.landIcons {
  display: flex;
  flex-direction: center;
  justify-content: center;

  i {
    margin: 0 8px;
  }
}

.settings {
  position: absolute;
  top: 8px;
  right: 32px;
  height: 32px;
  width: 32px;
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
