.app {
  background-color: #282c34;
  min-height: 100vh;
}

.deck-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  min-height: 60vh;
}

.deck-ta {
  resize: none;
  height: 50vh;
  width: 25vw;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.deck-container {
  display: flex;
  flex-direction: column;
}

.deck-title {
  margin-bottom: 16px;
}

.right-arrow {
  font-size: 72px;
  margin: 0 32px;
}
